.me {
  width: 50%;
  margin: auto 100px auto auto;
  font-family: "Josefin Sans", "Poiret One", "Arial", sans-serif;
  line-height: 25px;
  text-align: center;
}

.photo_me {
  width: 20%;
  display: inline-block;
  margin: 100px;
}

.about_me {
  margin:10px auto 100px auto;;
  display: flex;
  align-items: center;
  overflow: hidden;

}

main h1 {
  color: #637073;
  font-family: "Amatic SC", "Poiret One", "arial", sans-serif;
  font-size: 60pt;
  text-align: center;
}

h1 {
  text-decoration: underline;
}
