@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Poiret+One&display=swap');




.image {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 20%;
height: auto;
}

#background {
background-color: #F3F0F2;
}

h1 {
color: #87949F;
text-align: center;
font-family: "Josefin Slab", "Times New Roman", "serif";
}

h2 {
color: #87949F;
font-family: "Josefin Slab", "Times New Roman", "serif";
}

h3 {
color: #87949F;
font-family: "Josefin Slab", "Times New Roman", "serif";
}

h4 {
color: #87949F;
font-family: "Josefin Slab", "Times New Roman", "serif";
}

h5 {
color: #87949F;
text-align: center;
font-family: "Josefin Slab", "Times New Roman", "serif";
}

hr {
height: 1px;
background-color: #C7B7A8;
border: none;
}

a:link {
color:black;
text-decoration: none;
}

a:hover {
  color: #C7B7A8;
}

#line {
color: #B5BDC7;
}

ul {
color: #C7B7A8;
}

p {
font-family: Bilo, Arial, serif;
color: #707070;
}

.sign {
font-family: "Poiret One", Times, serif;
font-style: italic;
}

#sorry {
font-size: 10px;
text-align: center;
}

.review {
background-color: #FFFBFF;
font-family: "Poiret One", Arial, serif;
border-color: #D9C7BA;
border-style: solid;
padding:15px;
margin:20px;

}

#lunar {
max-width: 40%;
max-height: auto;
}

#caraval {
max-width: 50%;
max-height: auto;
}
