.port_options {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Poiret One", "Josefin Sans", "Arial", sans-serif;
  font-weight: bolder;
}

.port_ul {
  list-style-type: none;
  text-align: center;
}

.port_ul li {
  display: inline-block;
  padding: 20px;
}

.port_ul a {
  color:#9C878A;
  text-decoration: none;
}

.port_ul a:hover {
  font-style: italic;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding:auto;
  margin:50px 30px 30px 30px;
}

.grid_img {
  width: 100%;
}

.chosen {
  text-decoration: underline;
}

#c {
  display: block;
  margin:auto;
  text-align: center;
  margin-top: 20px;
  color: white;
}



@media only screen and (max-width: 720px) {
  .grid_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding:auto;
    margin:50px 0px 30px 0px;
  }

  #c {
    display: block;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    color: white;
  }

}
